h1 {
    text-align: center;
    color: white;
    font-family:courier;
    font-size: 200%;
}

body {
    background-color: darkslategrey;
}

label {
    color: white;
    font-size: large;
}

#create-tab, #task-save, #task-delete {
    text-align: center;
    color: darkslategrey;
    font-family:courier;
    font-size: 100%;
}

.grid-container{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 200px 200px 200px;

}