h1 {
    text-align: center;
    color: white;
    font-family:courier;
    font-size: 200%;
}

body {
    background-color: darkslategrey;
}

#tabName  {
  height: 22px;
  margin-bottom: 5px;
  border: none;
  box-shadow: none;
}

#tabKey {
   padding: 10px 8px;
  font-size: 18px;
  line-height: 30px;
  color: #f6f6f6;
  font-weight: bold;
}

#btnCTab {
    text-align: center;
    color: darkslategrey;
    font-family:courier;
    font-size: 100%;
}

#tabColumns {
    background: #ccc;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 270px;
    -ms-flex: 0 0 270px;
    flex: 0 0 270px;
    margin: 0 5px;
    max-height: 100%;
    position: center;
    width: 270px;
    max-width: 270px;
    cursor: pointer;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 600px; /* Should be removed. Only for demonstration */
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#btnCTab {

}